<span>
  Show as <app-chart-type-selector [(value)]="chartType"></app-chart-type-selector>
  Aggregate by <app-metric-type-selector [(value)]="metricType"></app-metric-type-selector>

  Auto-refresh <mat-checkbox [(ngModel)]="autoDispatchOnChange"></mat-checkbox>

  <button mat-raised-button *ngIf="!autoDispatchOnChange" title="Refresh" (click)="dispatch()"><mat-icon>refresh</mat-icon></button>

</span>

<!--
  TODO
// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css
-->