<div>
  <span class="small-group">
    Show as <app-chart-type-selector [(value)]="chartType"></app-chart-type-selector>
  </span>
  <span class="small-group">
    Aggregate by <app-metric-type-selector [(value)]="metricType"></app-metric-type-selector>
  </span>
  <span class="small-group">
    Refresh <span *ngIf="autoDispatchOnChange">automatically</span><span *ngIf="!autoDispatchOnChange">manually</span> <mat-slide-toggle [(ngModel)]="autoDispatchOnChange"></mat-slide-toggle>
    <button mat-icon-button mat-raised-button *ngIf="!autoDispatchOnChange" title="Refresh" (click)="dispatch()"><mat-icon>refresh</mat-icon></button>
  </span>
</div>
