<span>
  <mat-toolbar>
    <span class="code">{{ logDbQueryRepresentation }}</span>
    <span class="spacer"></span>
    <span>Total record count: {{ totalLogEntryCount$ | async }}</span>
    <span class="spacer"></span>
    <span>
      <button mat-icon-button mat-raised-button title="Expand/Collapse" (click)="collapsed = !collapsed">
        <mat-icon *ngIf="collapsed">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="!collapsed">keyboard_arrow_up</mat-icon>
      </button>
      <button mat-icon-button mat-raised-button color="warn" title="Remove" (click)="removeTrackedExpression()"><mat-icon>clear</mat-icon></button>
    </span>
  </mat-toolbar>

  <mat-card [style.display]="collapsed?'none':''">
    <mat-card-content>
      <app-graph-options [logDbQueryRepresentation]="logDbQueryRepresentation"></app-graph-options>
    </mat-card-content>
  </mat-card>

  <mat-card [style.display]="collapsed?'none':''">
    <mat-card-content>
      <div class="svg-container"></div>
    
      <app-log-entry-list
        [logDbQueryRepresentation]="logDbQueryRepresentation"
      ></app-log-entry-list>
    </mat-card-content>
  </mat-card>
</span>
