<div class="graph-container">
  <div class="graph-header">
    <span class="graph-expression">
      Chart for {{ logDbQueryRepresentation }}. Total log entry count: {{ totalLogEntryCount$ | async }}
    </span>
    <span>
      <button mat-raised-button color="warn" title="Remove" (click)="removeTrackedExpression()"><mat-icon>clear</mat-icon></button>
    </span>
  </div>

  <div class="graph-controls">
    <app-graph-options [logDbQueryRepresentation]="logDbQueryRepresentation"></app-graph-options>
  </div>

  <div class="svg-container"></div>
    
  <!-- TODO remove PROPERLY -->
  <!-- <div class="graph-log-entries">
    <div *ngFor="let logEntry of (logEntries$ | async); trackBy: trackByLogEntry">
      {{ logEntry | json }}
    </div>
  </div> -->
  
</div>